.header-container{
    display: flex;
    justify-content: space-around;
    padding: 33px 33px 36px 33px;

}

.header-logo{
    display: flex;
    font-weight: 680;
    font-size: 26px;

}
.header-markup{
    font-size: 14px;
    font-weight: 500;
    padding: 0 8px 0 6px;
}

.header-button-login{
    display: flex;
    width: 84px;
    height: 44px;
    padding: 0 0 0 22px;
    border-radius: 10px;
    align-items: center;
    background-color: #FFF200;
}
.header-search{
    width: 585px;
    height: 36px;
    border-radius: 8px;

}
.header-container img {

}
.header-call-button{
    display: flex;
    width: 204px;
    height: 37px;
    align-items: center;
    padding: 0 0 0 40px;
    border-radius: 10px;
    background-color: #FFF200;
}