.navbar-container {
    display: flex;
    width: 100%;
    padding: 0 0 64px 62px;
}

.navbar-container button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #FFF200;
    border-radius: 5px;
    background-color: transparent;
    color: #fff; /* Цвет текста кнопки */
    cursor: pointer;
}

/* Дополнительные стили для каждой кнопки (по классу) */
.navbar-catalog button {
    padding: 10px 30px;
    background-color: #FFF200;
    color: black;
}

.navbar-stock button {
    /* Дополнительные стили для кнопки запасов */
}

.navbar-blog button {
    /* Дополнительные стили для кнопки блога */
}

.navbar-faq button {
    /* Дополнительные стили для кнопки FAQ */
}
